@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 400;

    background-image: url("./background.png");
    background-repeat: no-repeat;
    align-items: center;
}

h1,
h2, 
h3 {
    font-weight: 700;
}

.question {
    font-weight: 700;
    font-size: 24px;

    strong {
        font-size: 26px;
        color: rgb(3, 3, 149);
    }
}

.container {
    padding: 12px;

    @media (min-width: 650px) {
        max-width: 650px;
        padding: 0;
        margin: auto;
    }
}

p {
    margin: 0;
    padding: 20px 0;
}

.article {
    padding: 68px 32px;
    border-radius: 24px;
    background-color: #fff;
}

img {
    width: 250px;
    max-width: 100%;
}

button {
    font-size: 18px;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #F9A826;
}

.random-btn {
    background-color: #F9A826;
    padding: 15px 36px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.recommendation-btn {
    padding: 18px 61px;
    color: #1D355D;
}

.option-btn {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 0;
    text-align: left;
    margin-bottom: 1rem;
    border: 2px solid rgba(96, 102, 208, 0.7);
    color: rgba(96, 102, 208, 0.8);
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 42px;

    h1 {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 4rem;
        
        @media (min-width: 650px) {
            font-size: 36px;
            padding: 0;
        }
    }

    .adventureImg {
        width: 30%;
    }
}

.final-result {
    text-align: center;
    color: #1D355D;
    
    button {
        color: #1D355D;
        border: 2px solid #1D355D;
        font-weight: 600;
        font-size: 18px;
    }
    h2 {
        margin: 0;
        padding: 10px;
        font-size: 40px;
    }
}

.correctBtn {
    background-color: #048938;
    color: #fff;
    background-image: url("./assets/done-24px.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.correctBtn:hover {
    background-color: #048938;
}

.wrongBtn {
    background-color: #EA8282;
    color: #fff;
    background-image: url("./assets/close-24px.svg");
    background-repeat: no-repeat;
    background-position: right;

}

.wrongBtn:hover {
    background-color: #EA8282;
}

.scoreGuess {
    font-weight: 600;
    font-size: 24px;
}

.score {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(3, 202, 103);
}

button:disabled {
    cursor: not-allowed;
}

.flag-img {
    width: 150px;
    -webkit-filter: drop-shadow(0 4px 24px rgba(0,0,0,.1));
    filter: drop-shadow(0 4px 24px rgba(0,0,0,.1));
}

a {
    color: currentColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer {
    text-align: center;
    color: #F2F2F2;
    font-weight: 600;
    font-size: 18px;
}